@tailwind base;
@tailwind components;
@tailwind utilities;

/* Style progess bar background color */
progress::-moz-progress-bar,
progress::-webkit-progress-bar,
progress::-webkit-progress-value {
  appearance: none;
  background-color:rgb(25, 242, 14);
}

progress[value]::-webkit-progress-bar {
  background-color: #eee;
}

progress[value]::-webkit-progress-value {
  background:rgb(14, 242, 94);
}
